@use "/src/styles/vars";

.form {
  &-item {
  width: 100%;
  color: #fff;
  font-size: 2em;
  background: vars.$darkColor;
  border: 1px solid #183129;
  box-shadow: inset 0 0 25px rgba(0,0,0,.1);
  padding: 1rem;
  }

  &-item::placeholder {
    color: rgba(255, 255, 255, 0.5);
  }
}
